.main{
    background-color:black;
    width:100vw;
    
    height:100vh;
}

.title_text{
    color:white;
    font-size:60px;
    font-family:cursive;
    position: absolute;
    top:20px;
}

.sec{
    color:white;
    position:absolute;
    top:10%;
    font-size:130px;
    width:80%;
    left:10%;
}

.sec_text_below{
    font-size:30px;
    color:white;
}
.search_bar_inp{
    width:40vh;
    height:6vh;
    font-size:5vh;
    border-radius: 100px;


}

.search_bar_but{
    background-color: black;
    color:white;
    width:30vw;
    height:6vh;
    font-size:3vh;
    border:4px solid white;
    border-radius: 100px;
    margin-left:23vw;
    margin-top:2vh;

}

.search_bar{
    margin-top:8vh;
    margin-left:-2vw;
}

.find_me_exam_but{
    background-color: black;
    color:white;
    width:50vw;
    font-size:3vh;
    height:5vh;
    margin-top:10%;
    margin-left:15%;
    border-radius: 100px;
    border:4px solid white;
}

.extra_text{
    font-size:2vh;
    margin-left:-100px;
    margin-top:10%;
}


.latest_exam{
    width: 100vw;
    
    background-color: black;
}
.latest_exam_title{
    color:white;
    font-size:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.latest_exam_box{
    margin-top:20px;
    width:100vw;
    
}
.latest_exam_box_box{
    border-radius: 100px;
    background-color: white;
    color:black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.latest_exam_box_box_img{
    border-radius: 100px;
}
.latest_exam_box_box_name{
    position: relative;
    top:-20px;
    font-weight: 900;
    left:30px;

}
.latest_exam_box_box_quli{
    position: relative;
    top:-20px;
    left:10vw;
    font-weight: 200;
}

.latest_exam_box_box_date{
    font-size:15px;
    color:blue;
    position: relative;
    top:-20px;
    left:20vw;
}