.main{
    background-color:black;
    width:100vw;
    
    height:100vh;
}

.title_text{
    color:white;
    font-size:60px;
    font-family:cursive;
    position: absolute;
    top:20px;
}

.sec{
    color:white;
    position:absolute;
    top:10%;
    font-size:130px;
    width:80%;
    left:10%;
}

.sec_text_below{
    font-size:30px;
    color:white;
}
.search_bar_inp{
    width:40vh;
    height:6vh;
    font-size:5vh;
    border-radius: 100px;


}

.search_bar_but{
    background-color: black;
    color:white;
    width:30vw;
    height:6vh;
    font-size:3vh;
    border:4px solid white;
    border-radius: 100px;
    margin-left:23vw;
    margin-top:2vh;

}

.search_bar{
    margin-top:8vh;
    margin-left:-2vw;
}

.find_me_exam_but{
    background-color: black;
    color:white;
    width:50vw;
    font-size:3vh;
    height:5vh;
    margin-top:10%;
    margin-left:15%;
    border-radius: 100px;
    border:4px solid white;
}

.extra_text{
    font-size:2vh;
    margin-left:-100px;
    margin-top:10%;
}
